.topNav{
    background-color:rgb(96, 149, 122);
    overflow:hidden;
}

.tablinks{
    float: left;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 3hv;
} 
.topNav button:hover{
    color:black;
}

.topNav button.active{
    background-color:rgb(159, 217, 178)n;
    color: rgb(96, 149, 122);
    border-bottom: black;
}

.tabContent.active{
    display:block;
}


.homeTitle{
    padding: 0vh 15vh;
    color: hsl(12, 64%, 71%);
    font-style:italic
}


.name{
    color:rgb(96, 149, 122);
    font-size: 12vh;
    padding: 0 10vh;
}
.mePic{
    border-radius: 40%;
    border:solid rgb(96, 149, 122) 4px;
    height: 40vh;
    width: 40vh;
}
.intro{
    font-size: 4vh;
    justify-content:center;
    display: flex;
    flex-direction:horizontal;
    padding: 5vh 5vh;

}
.AboutMe{
    background-image:url("./GreenBackG.png");
    font-size: 3vh;
    color: black;
    padding:3vh 3vh;
    text-align:center

}

.BBPic{
    border-radius: 60%;
    border:solid rgb(96, 149, 122) 4px;
    height: 40vh;
    width: 25vh;
}

.Basketball{
    align-items: center;
    display:flex;
    flex-direction:horizontal;
    padding: 0vh 0vh 0vh 5vh;
}

.BBContent{
    padding: 0vh 0vh 0vh 5vh;
}
.Projects{
    background-image:url("./WhiteBackground.png");
    font-size: 3vh;
    padding: 2vh;
}

.divider1{
    padding: 0vh 20vh 0vh 10vh;
    display:flex;
    flex-direction:horizontal;
}
.divider2{
    padding: 0vh 5vh 0vh 10vh;
    display:flex;
    flex-direction:horizontal;
}
.PTitle{
    text-align:center;
    padding: 3vh;
}

.alienPic{
    border-radius: 15%;
    border:solid rgb(178, 229, 149) 4px;
}
.dosPic{
    border-radius: 50%;
    border:solid black 4px;
}
.networkPic{
    border-radius: 15%;
    border:solid black 4px;

}
.filterPic{
    border-radius:15%;
    border:solid black 4px;
}
.eduTitle{
    text-align:center;
}
.Education{
    background-image:url("./bookBack.png");
    padding: 4vh 10vh;
    font-size:3vh;
    color:black
}

.skillsTitle{
    text-align: center;
}
.Skills{
    font-size: 3vh;
    background-image:url("./greyBack.png");
    padding: 4vh 10vh;
    color:aliceblue
}